# Dependências principais
dbt-core
pendulum
dbt-postgres
python-dotenv
apache-airflow-providers-postgres>=5.10.0
apache-airflow-providers-common-sql>=1.10.0

requests

# Dependências de teste
pytest>=8.0.0

# Pacotes de dados
pandas>=2.1.0
numpy>=1.24.0

# Pacotes para desenvolvimento
astro-run-dag<=0.2.9  # Necessário para o comando astro run